@media (max-width:1024px) {
    .footer-global{
        height: 40rem;
        .prueba-logo{
            gap: 7rem;
        }
    }
    .main-ol{
        .grids{
            .ofertas{
                width: 35rem;
                .lyu-r{
                    gap: unset;
                }
            }
        }
    }
}