.footer-global {
    @include flex (row, center, center, wrap);
    height: 31.25rem;
    background-color: $footer-color;
    position: relative;

    .f-logo {
        width: 12.5rem;
        height: 12.5rem;
    }

    .redes-footer-container {
        padding-left: 0px !important;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            padding-left: 0px !important;
        }
    }

    .servicios-footer-container {
        .servicios-footer {
            font-size: 1rem;
        }

        li {
            transition: transform 0.6s cubic-bezier(0.37, 0, 0.63, 1);

            &:hover {
                transform: scale(1.1);
            }

            list-style-type: none;

            a {
                &hover {
                    text-shadow: 0px 0px 5px;
                }

                text-decoration: none;
                color: $white;

                &:hover {
                    color: $hovers;
                }
            }
        }
    }

    .prueba-logo {
        @include flex (row, center, center, wrap);
        gap: 13rem;
        padding: 1rem;
    }

    .container-contacto-f {
        color: $white;

        .contacto-f {
            font-size: 1.75rem;
            font-weight: normal;
        }

        .gmail {
            font-size: 1.25rem;
            font-weight: normal;
        }
    }
}

.derechos {
    @include flex (row, center, unset, wrap);
    position: absolute;
    color: $white;
    bottom: 1rem;
    font-weight: normal;
    font-size: 1.25rem;
}